{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert"><h3>{{ flashError }}</h3></div>
    {% endfor %}

    <div class="text-center"><b><h1>REGISTER</h1></b></div>


    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.agreeTerms) }}
    {{ form_end(registrationForm) }}

    <button class="btn btn-social btn-dark"><a href="{{ path('connect_google_start') }}">Register with Google</a></button><br>
    <button class="btn btn-social btn-dark"><a href="{{ path('connect_facebook_start') }}">Register with Facebook</a></button><br>
{% endblock %}
