{% extends 'base.html.twig' %}
{% block title %} {{ 'user.comment.edit.title' | trans}} {% endblock %}
{% block body %}
    <a href="{{ path('comment_index') }}"><<< {{ 'user.comment.edit.back.to.list' | trans }}</a><hr><br><br>
    {{ form_errors(form) }}
    {{ form(form) }}
    <a href="{{ path('comment_delete', { id: comment.id }) }}" class="btn btn-block btn-danger">{{ 'user.comment.edit.delete' | trans }}</a>

{% endblock %}
