{% extends 'base.html.twig' %}

{% block title %}{{ 'user.comment.index.title' | trans }}{% endblock %}

{% block body %}
    <h1 CLASS="text-center">{{ 'user.comment.index.header' | trans }}</h1><br><hr><hr>

        {% for comment in comments %}
            <p>
                <small>{{ 'user.comment.index.comment.for.review' | trans }}: </small><a href="{{ path('review', {'id': comment.review.id}) }}">{{ comment.review.title}}</a> <small>{{ 'user.comment.index.from.author' | trans }}: </small> {{ comment.review.user.username }}
            <p>
                <small>
                    {{ 'user.comment.index.date' | trans }}: {{ comment.createAt |format_datetime('medium', 'short') }}
                </small>
            </p>

            <p>{{ comment.text}}</p>
            <a href="{{ path('comment_edit', { id: comment.id }) }}" class="btn btn-warning">{{ 'user.comment.index.edit' | trans }}</a>
            </p><hr><hr><br>
        {% else %}
            <tr>
                <td colspan="6">{{ 'user.comment.index.no.records.found' | trans}}</td>
            </tr>
        {% endfor %}


{#    <a href="{{ path('comment_new') }}">Create new</a>#}
{% endblock %}
