{% extends 'base.html.twig' %}

{% block title %}{{ 'user.comment.new.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.comment.new.create.new.comment' | trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ 'user.comment.new.back.to.list' | trans }}</a>
{% endblock %}
