{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="form-control-plaintext text-center">
        <h1><b>{{ title | upper }}</b></h1>
    </div>

    <div class="margin-8"></div>

    {% for review in reviews %}
        <hr>
        <h3><b>{{ review.title | upper}}</b></h3>
        <p>Author: {{ review.user.username }}</p>
        <p><small>Date: {{ review.createAt |format_datetime('medium', 'short') }}</small></p>
        {#        <a href="{{ 'review' }}/{{ review.id }}"></a>#}
        <hr>
        <span><h5><b>Author's assessment: {{ review.assessment }}</b> || <b>Rating: ?</b> || <b>Like</b></h5></span>
        <span><b>Tags: </b></span>
        <a href="{{ path('review', {id: review.id}) }}" class="btn btn-warning pull-right">More</a>
        <br><br><hr><hr><br><br>

        <div class="margin-8"></div>
    {% else %}
        <tr>
            <td colspan="6">There are not records yet.</td>
        </tr>
    {% endfor %}

{% endblock %}
