{% extends 'base.html.twig' %}

{% block title %}{{ review.title }}{% endblock %}

{% block body %}
    <a href="{{ path('review_index') }}"><<< back to list</a>
    <div class="form-control-plaintext text-center">
        <h1><b>{{review.title | upper }}</b></h1>
    </div>
    <hr>
    <div>
        <p>Author: <b>{{ review.user.username}}</b></p>
    </div>
    <hr>
    <p>{{ review.text }}</p><hr>

    <p><small>Date: {{ review.createAt |format_datetime('medium', 'short') }}</small></p><hr>

    <p>Category: <b>{{ review.category.name  }}</b></p><hr>
    <h5>Author's assessment: <b>{{ review.assessment }}</b></h5>
    <p>Rating: <b>?</b></p>
    <p>Like<b>?</b></p><hr>
    <span>Tags: <b>?</b></span>
    <hr><hr><hr>
    <br>

    {% for comment in comments %}
        <p>
            <small>Comment from: </small>{{ comment.user.username }}
        <p>
            <small>
                Date: {{ comment.createAt |format_datetime('medium', 'short') }}
            </small>
        </p>
        <p>{{ comment.text}}</p>
        </p><hr><hr>

    {% else %}
        <div>No comments have been posted yet for this review.</div>
    {% endfor %}
    <br>

    {% if is_granted('ROLE_USER') %}
{#    <a href="{{ path('comment_new', {id: review.id}) }}" class="align-items-center">Create new comment</a><hr>#}
        {{ render(path('comment_new', {id: review.id})) }}
    {% endif %}
{% endblock %}



