<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('./assets/css/style.css') }}">
        {% endblock %}

    </head>
    <body id="bd">
    {% block navbar %}
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="{{ path('home') }}">{{ 'header.logo' |trans }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('review_index') }}">{{ 'header.all.reviews' | trans }}</a></li>
                        <li><a href="{{ path('categories') }}">{{ 'header.categories' | trans }}</a></li>
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>#}
{#                            <ul class="dropdown-menu" role="menu">#}
{#                                <li><a href="">All reviews</a></li>#}
{#                                <li class="divider"></li>#}
{#                                <li><a href="">All categories</a></li>#}
{#                                <li class="divider"></li>#}
{#                                <li><a href="#">All tags</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                    </ul>

{#                    <form class="navbar-form navbar-center" role="search">#}
{#                        <div class="input-group">#}
{#                            <input type="search" class="form-control input-lg" placeholder="">#}
{#                            <div class="input-group-btn">#}
{#                                <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}

                    <div class="content">
                        <i class="fas fa-sun"></i>
                        &nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="tooglenight" class="cbx hidden"/>
                        <label for="tooglenight" class="switch"></label>
                        &nbsp;&nbsp;&nbsp;
                        <i class="fas fa-moon"></i>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                        <span><a href="{{ path('admin') }}">{{ 'header.admin.panel' | trans }}</a> </span>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <span>{{ app.user.email }}</span>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}

    {% block container %}

{#        <div class="wrapper">#}

            <div class="container">

                <div class="row">

                    <div class="col-lg-9 col-lg-push-3">


                        <form role="search" class="visible-xs">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="search" class="form-control input-lg" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        {% block body %}
                        {% endblock %}

                    </div>

                    <div class="col-lg-3 col-lg-pull-9">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('user') }}" class="btn btn-block btn-primary"><b><p>{{ app.user.username }}</p><p>{{ 'panel.auth.my.page' | trans }}</p></b><span></span></a>
                                    <a href="{{ path('app_logout') }}"  class="btn btn-block btn-primary"><b>{{ 'panel.auth.logout' | trans }}</b> <span class="caret"></span></a>
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="btn btn-block btn-primary"><b>{{ 'panel.auth.login' | trans }}</b><span class="caret"></span></a>
                                    <a href="{{ path('app_register') }}" class="btn btn-block btn-primary"><b>{{ 'panel.auth.register' | trans }}</b><span class="caret"></span> </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="panel panel-info hidden-xs">
                            <div class="panel-heading"><div class="sidebar-header"><h3>{{ 'panel.search' | trans }}</h3></div></div>
                            <div class="panel-body">
                                <form role="search">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" class="form-control input-lg" placeholder="">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="panel panel-info">
                            <div class="panel-heading"><div class="sidebar-header"><h3>{{ 'panel.tags' | trans }}</h3></div></div>
                            <div class="panel-body">
                                <div class="">#example #example #example #example #example</div>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading"><div class="sidebar-header"><h3>{{ 'panel.rating' | trans }}</h3></div></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-warning">
                                        <p><a href="show.html">GounreName</a></p>
                                        <p>
                                            <b><a href="show.html">Name</a></b>
                                            <span class="badge">8.9</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>

                </div>

            </div>

            <div class="clear"></div>

{#        </div>#}

    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#tooglenight").change(function() {
                    if(this.checked) {
                        $("#bd").addClass("night");
                        $("i").css("color", "white");
                    }else{
                        $("#bd").removeClass("night");
                        $("i").css("color", "black");
                    }
                });
            });
        </script>
    {% endblock %}
    </body>
</html>
